/* @import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
} */

iframe {
  display: none;
}

.ftsize {
  font-size: 32px !important;
}

.cen {
  text-align: center;
}

.pad5 {
  padding: 5px;
}

.btnyellow {
  line-height: 1em;
  background-color: #ffc312;
}

.pos {
  position: relative;
  top: 5px;
}

.cen_set {
  width: 70%;
  margin: auto;
}

.card_log_mar {
  margin: 60px;
}

/* .card_mrg_mob {
  margin-top: 100px;
} */

.card_log {
  margin-bottom: auto;
  width: 40em;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #0a47f0;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 6px;
  background: darkgray;
  border-radius: 7px;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
  margin-top: 1em;
  text-align: center;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
  color: #ccffff;
}

.hidepassword {
  margin-left: -43px;
  margin-top: 8px;
}

.inpptt {
  border-radius: 22px !important;
  width: 310px;
  height: 34px;
  padding: 14px;
  border: 2px;
}

.carrd {
  width: 30%;
  /* height: 508px; */
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: gray;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.login_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
@media only screen and (max-width: 800px) {
  .carrd {
    width: 95%;
  }
}
