iframe {
  display: none
}

.box-pref {
  border: 1px solid black;
  border-radius: 3%;
  padding: 10px;
  box-shadow: inset 0px 0px 5px 5px rgba(99, 95, 95, 0.297);
  margin-inline: 5px;
  max-height: 500px;
  overflow: auto;
}

.up-down {
  display: flex;
  width: fit-content !important;
  flex-direction: column;
  justify-content: center;
}

.up_down_btn_pre{
  display: flex;
  flex-direction: row;
}

.selected-row {
  background-color: var(--bs-primary);
  color: #fff;
}

.up-down-view-pref {
  margin-left: 3px;
  transform: rotate(-90deg);
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 20px;
  font-family: var(--primary-font);
  padding: 0px 8px;
}

/* .btn-group-vertical {
  bottom: 27px;
} */

.submit_butn_of_setting{
  font-size: 11px;
  border-radius: 4px;
} 

.ryt-left-btn{
  margin-left: 3px;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 20px;
  font-family: var(--primary-font);
  padding: 0px 8px;
  margin-bottom: 2px;
}